{% extends "base.html" %}
{% load static %}

{% block head %}
<link href="{% static 'css/product_submissions.css' %}" rel="stylesheet" />
<link href="{% static 'css/form.css' %}" rel="stylesheet" />
<script src="{% static 'js/product_submissions.js' %}"></script>
{% endblock head %}

{% block main %}
<form method="post" action="/product-submissions" enctype="multipart/form-data" class="add-product">
    {% csrf_token %}


    {% for field in form %}
    <div>
        {% if field.name != 'group_members' %}
        {{ field.label_tag }}
        {{ field }}
        {{ field.errors }}
        {% endif %}
    </div>
    {% endfor %}

    <template id="member-template">
        <div class="card">
            <div>
                <label for="first-%">First Name:</label>
                <input id="first-%" class="first" type="text" onchange="justifyCards(event)" required />
            </div>

            <div>
                <label for="last-%">Last Name:</label>
                <input id="last-%" class="last" type="text" onchange="justifyCards(event)" required />
            </div>
            <button type="button" onclick="removeMember(event)">remove</button>
        </div>
    </template>

    <div>
        {{ form.group_members.label_tag }}
        {{ form.group_members.errors }}

        <div class="group-members card-space" id="group-members">
            {{ form.group_members }}


            <div class="cards">
                <button type="button" onclick="addMember()">add</button>
            </div>
        </div>

    </div>

    <template id="variation-template">
        <div class="card">
            {{ var_form_template }}
            <button type="button" onclick="removeVariant(event)">remove</button>
        </div>
    </template>

    <div>
        Product Variations:
        <div class="variations card-space" id="variations">
            <div class="cards">
                {% for var_form in var_forms %}
                <div class="card">
                    {{ var_form }}
                    <button type="button" onclick="removeVariant(event)">remove</button>
                </div>
                {% endfor %}
                <button type="button" onclick="addVariation()">add</button>
            </div>
        </div>
    </div>

    <script>
        if (Q("input[name='group_members']").value == 'null')
            addMember()
        else
            updateCardsToJSON()
    </script>

    {% if not var_forms %}
    <script>
        addVariation()
    </script>
    {% endif %}

    <button type="submit">Submit</button>
</form>
{% endblock %}
