.add-product {
    width: calc(100% - 20px);
    box-sizing: border-box;
    margin: 10px;
}

.group-members {
    display: grid;
    border: 1px solid;
    background-color: var(--blue2);
    border-radius: 2px;
}

.cards {
    display: flex;
    padding: 10px;
    overflow: auto;
    gap: 10px;
}

.card {
    padding: 10px;
    gap: 3px;
    display: grid;
    grid-template-columns: auto auto;
    background-color: var(--blue1);
    box-shadow: var(--shadow);
    border-radius: 2px;
    border-bottom: 5px solid var(--gold);
}

.card label {
    width: 90px;
}

.card button {
    grid-column: 2;
}


.cards>button {
    box-shadow: var(--shadow);
}

.group-members>input {
    border: none;
    padding: 3px;
}