.top-section {
    box-shadow: var(--shadow);
    background-color: var(--blue1);
    margin-top: 20px;
    margin-inline: auto;
    border-radius: 2px;
    overflow: clip;
    display: flex;
    max-width: 1300px;
    width: calc(100% - 20px);
    position: relative;
    border-bottom: 5px solid var(--gold);
}

.top-section img {
    width: 400px;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.top-section .float-right {
    padding: 10px;
}

.sold-out-warning {
    position: absolute;
    right: 50%;
    bottom: 50%;
    translate: 50% 50%;
    color: var(--red);
    text-shadow: var(--shadow);
    rotate: -10deg;
    font-size: min(10rem, 30vw);
    width: 100%;
    text-align: center;
    font-weight: bold;
    z-index: 1;
}

@media (max-width: 850px) {
    .top-section {
        flex-direction: column;
        max-width: 500px;
        margin-inline: auto;
    }

    .top-section img {
        width: 100%;
    }

    .sold-out-warning {
        top: 40px;
        translate: 60% 0;
    }
}

.variation-tabs {
    box-shadow: var(--shadow);
    background-color: var(--blue1);
    margin-top: 20px;
    margin-inline: auto;
    border-radius: 2px;
    overflow: clip;
    max-width: 1300px;
    width: calc(100% - 20px);
    position: relative;
    border-bottom: 5px solid var(--gold);
    margin-bottom: 20px;
}

.variation {
    display: none;
    padding: 20px
}

.variation.selected {
    display: block;
}

.variation-tab-btn {
    all: unset;
    display: inline-block;
    background-color: var(--blue1);
    padding: 10px;
    padding-bottom: 5px;
    border-bottom: 5px solid var(--blue1);
    border-radius: 2px;
    cursor: pointer;
}

.variation-tab-select {
    padding: 5px;
    background-color: var(--blue2);
}

.variation-tab-btn:hover {
    border-color: unset;
}

.variation-tab-btn.selected {
    border-color: var(--gold);
}

.carousel {
    margin-inline: auto;
}

.carousel-item {
    border-radius: 2px;
    border-bottom: 5px solid var(--gold);
}

.error-warning {
    position: fixed;

    background-color: var(--blue2);
    border-bottom: 5px solid var(--gold);
    box-shadow: var(--shadow);
    border-radius: 2px;
    padding: 20px;

    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: 2;

    text-align: center;
}

.error-warning button {
    background-color: var(--gold);
    color: var(--gold-text);
    border-radius: 2px;
    border: 1px solid;
    cursor: pointer;
    font-size: 1rem;
    box-shadow: var(--shadow);
}

.product-order-form {
    background-color: var(--gold);
    color: var(--gold-text);
    box-shadow: var(--shadow);
    border-radius: 2px;
    margin: 10px;
    padding: 10px;
    display: flex;
    gap: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product-order-form-fields .field {
    width: 350px;
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 3px;
}

.errorlist {
    margin: 10px 0 3px 0;
    padding: 3px;
    list-style: none;
    background-color: var(--red);
    font-weight: bold;
}

.field input,
.field button,
.field textarea {
    resize: vertical;
    padding: 5px;
    background-color: var(--blue1);
    color: var(--blue-text);
    border: 1px solid;
    border-radius: 2px;
}

.field>label {
    display: inline-block;
    width: 150px;
}

.field button {
    cursor: pointer;
    margin-right: 0;
    margin-top: 10px;
}

.field button span {
    display: inline-block;
    width: 0;
    transition: width .25s;
    overflow-x: clip;
    box-sizing: border-box;
}

.field button:hover span {
    width: 40px
}

.donation-set {
    display: grid;
    gap: 3px;
    grid-template-columns: auto auto 1fr;
    align-items: center;
    transition: font-size .25s;
}

.donation-set.off {
    font-size: 0;
}

.donation-set>input {
    width: 100%;
    box-sizing: border-box;
    transition: width .25s, padding-inline .25s, border-inline-width .25s;
}

.donation-set.off>input {
    width: 0;
    padding-inline: 0;
    border-inline-width: 0;
}

.toggle {
    --width: 50px;
    --height: 25.5px;
    --slider: var(--blue-text);
    --enabled: var(--blue1);

    background-color: color-mix(in hsl, black, var(--blue1));
    border: 1px solid;
    border-radius: 2px;
    position: relative;
    width: var(--width);
    height: var(--height);
    margin-right: 10px;
}

.toggle input {
    width: 0;
    height: 0;
    opacity: 0;
}

.toggle span {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: background-color .25s;
}

.toggle span:before {
    content: "";

    position: absolute;
    height: calc(var(--height) - 8px);
    width: calc(var(--height) - 8px);

    left: 4px;
    bottom: 4px;
    background-color: var(--slider);
    transition: .25s;
}

.toggle input:checked+span {
    background-color: var(--enabled);
}

.toggle input:focus+span {
    outline-style: auto;
    outline-width: 5px;
}

.toggle input:checked+span:before {
    transform: translateX(calc(var(--width) - var(--height)));
}

@media (max-width: 500px) {
    .product-order-form-fields {
        width: 100%;
    }

    .product-order-form .field {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}
